* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #edf6f9;
}

header {
  position: relative;
  padding: 20px;
  margin-bottom: 80px;
  background-color: #eefbff;
}

/* cria uma linha gradiente como borda */
header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #006d77, #000000);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px; /* espaço lateral para proteger o conteúdo */
  font-family: 'Quicksand', sans-serif;
}

nav ul {
  display: flex;
  gap: 30px; /* espaço entre os itens */
  list-style: none; /* remove as bolinhas padrão */
  padding: 0;
  margin: 0;
}

nav li a {
  text-decoration: none;
  color: rgb(0, 0, 0); /* ou o que quiser pro visual do menu */
  font-weight: bold;
}

nav li a:hover {
  text-decoration: none;
  color: #006d77; /* ou o que quiser pro visual do menu */
  font-weight: bold;
  border-bottom: 3px solid #83c5be;
}

.section-title h2 {
  font-size: 2.5rem;
  font-weight: bold;
  background: linear-gradient(to right, #000000, #ececec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left; /* ou center, se preferir */
  margin-bottom: 20px;
}



.articles {
  display: flex;
  gap: 20px;
  justify-content: center; /* centraliza os cards na horizontal */
  flex-wrap: wrap; /* permite quebra de linha se o espaço for pequeno */
  padding-top: 20px;
}

.articles article {
  background-color: #111;
  border: 1px solid rgba(0, 109, 119, 0.3)
;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.articles article img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.articles-header {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.articles a {
  color: white;
  text-decoration: none;
}

.articles a:hover {
  color: rgb(0, 122, 255); /* ou branco mesmo, se preferir */
}


#sports,
#economy,
#entretenimento,
#tecnologia {
  padding: 25px
}

#sports,
#entretenimento {
  background-color: #e3eff360;
}